body {
   color: blue;
    font-family: arial;
margin:0px;
}


div{
background-color: rgb(221, 19, 86);
border: dashed 10px brown;
}

.second-div {
background-color: rgb(216, 158, 31);
}

#second-li{
    font-size: 30px;
}

img{
    width:300px;
    border-radious: 50px;
}